<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CarInfoServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57266/CarInfoService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CarInfoServiceSoap"
                contract="CarInfoServiceReference.CarInfoServiceSoap" name="CarInfoServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>